/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


/* Navigation Style */
nav
{
    font-family: fantasy;
    font-style: oblique;
    background-color: highlight;
    list-style-type: none;
    overflow: hidden;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border-color: solid white;
    border-width: 5px;
    border-style: double;
    opacity: 0.5;
    left: 0;
    text-align: left;
    float: center;
}

li
{
    display: inline-block;
    font: Arial;
    opacity: 1;
}


a
{
    display: block;
    width: 60px;
    opacity: 1;
}


h1
{
    background-color: navy;
    border-color: grey;
    border-width: 10px;
    border-style: grove;
    left: 0;
    width: 100%;
    height: 40px;
    color: lightgrey;
    font-family: fantasy;
}

h2
{
    color: white;
    font-family: Courier New;
}

body
{
    background-image: url("0hxYC6j.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}