/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


/* Navigation Style */
nav
{
    font-family: fantasy;
    font-style: oblique;
    background-color: highlight; 
    overflow: hidden;
    width: 8%;
    padding: 5px;
    margin: 5px;
    border-color: solid white;
    border-width: 5px;
    border-style: double;
    opacity: 0.5;
    text-align: left;
    float: center;
}

li
{
    width: 5%;
    font: Arial;
    opacity: 1;
    float: center;
    list-style-type: none;
}


a
{
    display: block;
    width: 60px;
    opacity: 1;
}


h1
{
    background: linear-gradient(to right, black, grey, black);
    padding: 5px;
    border: 2px solid darkkhaki;
    border-style: grove;
    border-radius: 10px;
    left: 0;
    width: 100%;
    height: 40px;
    font-family: fantasy;
    text-align: center;
    color: darkred;
    text-shadow: 2px 2px 5px white;
}

h2
{
    color: white;
    font-family: Courier New;
}

body
{
    background-image: url("0hxYC6j.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}