/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


/* Navigation Style */
nav
{
    font-family: fantasy;
    font-style: oblique;
    background-color: rgba(178, 205, 214, 0.5); 
    overflow: hidden;
    width: 100px;
    padding: 2px;
    margin: 2px;
    border-color: darkgrey;
    border-width: 5px;
    border-style: double;
    text-align: left;
}

nav:hover
{
    opacity: 0.8;
}

/* List Style */
li
{
    padding-top: 10px;
    font: Arial;
    opacity: 1;
    float: center;
    list-style-type: none;
}

/* Unordered-List Style */
ul
{
    margin: 0px;
    padding: 10px;
}

/* Hyperlink Style */
a
{
    padding: 0px;
    display: block;
    width: 60px;
    opacity: 1;
}


/* Header 1 Style */
h1
{
    background: linear-gradient(to right, black, grey, black);
    padding: 5px;
    border: 2px solid darkkhaki;
    border-style: grove;
    border-radius: 10px;
    left: 0;
    width: 100%;
    height: 40px;
    font-family: fantasy;
    text-align: center;
    color: darkred;
    text-shadow: 2px 2px 5px white;
}

/* Header 2 Style */
h2
{
    color: white;
    font-family: Courier New;
}

/* Body Style */
body
{
    background-image: url("0hxYC6j.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}